
<img src="/assets/img/burger.png">
<h1 class="app-title text-center">Eat-Da-Burger!</h1>

<div class="row d-flex justify-content-center">
	<ul>
	{{#each burgers}}
		{{#notDevoured devoured}}
		<li class="availBurger">
			{{id}}. {{burger_name}}
			<button data-burgerid="{{id}}" class="eatBurger">Devour it!</button>
		</li>
		{{/notDevoured}}
	{{/each}}
	</ul>
	<ul>
	{{#each burgers}}
		{{#isDevoured devoured}}
		<li>
			<button class="eatenBurger" disabled="disabled">{{id}}. {{burger_name}}</button>
		</li>
		{{/isDevoured}}
	{{/each}}
	</ul>
</div>

<form action="/index" method="POST" class="add-burger d-flex justify-content-center">
  <textarea id="burger" type="text" name="burger" class="w-50"></textarea><br/>
  <button type="submit" class="btn btn-primary w-25">Submit</button>
</form>
<p class="text-center">Enter a burger you want to eat. Click the "Submit" button.</p>

<script type="text/javascript">

	// Handle click event when a burger has been devoured
	$(".eatBurger").on('click', function(event) {
		event.preventDefault();

		var id = $(this).data("burgerid");

		$.ajax("/index/" + id, {
			type: "PUT"
		}).then(function() {
			location.reload();
		});
	});

	// Handle form submit event when a burger has been created
	$(".add-burger").on('submit', function(event) {
		event.preventDefault();

		var newBurger = {
			burger_name: $("#burger").val().trim(),
			devoured: false
		}
		
		$.ajax("/index", {
			type: "POST",
			data: newBurger
		}).then(function() {
			location.reload();
		});
	});

</script>